a {
    color: black;
}

a:hover {
    color: olive;
}

.apply-margins {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body > :not(header, footer) {
    margin: auto;
    max-width: 50%;
    font-family: 'Arial', sans-serif;
}

.btn:focus {
    outline: 2px solid olive;
    outline-offset: 2px;
    box-shadow: none;
}

.btn-primary {
    background-color: #556b2f;
    border-color: #333f1d;
}

.btn-primary:hover {
    background-color: #333f1d;
    border-color: #333f1d;
}

.btn-primary:focus {
    background-color: black;
}

.content {
    flex: 1;
    padding: 1em;
 }

footer {
    background-color: #333f1d;
    font-family: 'Arial', sans-serif;
}

form #login-button {
    margin: 1em;
    background-color: white;
    text-align: center;
    border-color: black;
}

form #museum-button, #add-museum-button {
    margin: 1em;
    background-color: white;
    text-align: center;
}

form #museum-button:hover, #add-museum-button:hover {
    background: #333f1d;
    color: white;
}

form #login-button:hover {
    background: #333f1d;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

header {
    font-family: 'Arial', sans-serif;
    font-size: 0.9vw;
}

input[type="range"] {
    accent-color: olive;
    
}

#login-form, #register-form {
    padding: .5em;
    background-color: #f5f5dc;
}

#museum-form {
    margin: 1em;
    padding: .5em;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

#museum-bio {
    height: 10em;
}

#museum-form input[type="text"], textarea {
    width: 90%;
}

.nav-link {
    color: #f5f5dc;
    background-color: transparent;
}

.nav-link:hover {
    color: #556b2f;
    text-decoration: underline;
    background-color: transparent;
}

.nav-pills {
    background-color: #333f1d;
}

.nav-pills .nav-link {
    color: #f5f5dc;
}

.page-container {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.radio-group {
    display: inline-block;
}

#review-form {
    padding: .5em;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

#search-button {
    background-color: #333f1d;
    color: #f5f5dc;
    border-color: black;
}

#search-button:hover {
    background: white;
    color: black;
}

#search_field:focus {
    outline: 2px solid olive;
    outline-offset: 2px;
    box-shadow: none;
}

#signup-button {
    background-color: black;
    color: white;
    border-color: white;
}

#signup-button:hover {
    background: white;
    color: black;
}
