{% extends "layout.html" %}
{% block title %}Lisää museo{% endblock %}
{% block content %}

<body>
    <div class="page-container py-3 d-flex">

        {% if is_edit: %}

        <h1>Muokkaa</h1>
        <form id="museum-form" action="{{ url_for('edit_museum', museum_id=museum.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <label for="museum_name">Museon nimi:</label>
            <input type="text" id="museum_name" name="museum_name" value="{{ museum.name }}" required>
            <br>

            <label for="museum_bio">Kuvaus:</label>
            <textarea type="text" id="museum_bio" name="museum_bio" required>{{ museum.bio }}</textarea>
            <br>

            <label for="address">Osoite:</label>
            <input type="text" id="address" name="address" value="{{ museum.address }}" required>
            <br>

            <label for="museum_hours">Aukioloajat:</label>
            <textarea id="museum_hours" name="museum_hours" required>{{ museum.opening_hours }}</textarea>
            <br>

            <label>Valitse museon tyyppi:</label>
            <br>
            <div class="radio-group">
                <input type="radio" id="type_art" name="museum_type" value="taide" 
                    {% if museum.museum_type == "taide" %}checked{% endif %}>
                <label for="type_art">Taidemuseot</label>
                <br>
                <input type="radio" id="type_history" name="museum_type" value="historia" 
                    {% if museum.museum_type == "historia" %}checked{% endif %}>
                <label for="type_history">Kulttuurihistorialliset museot</label>
                <br>
                <input type="radio" id="type_science" name="museum_type" value="tiede" 
                    {% if museum.museum_type == "tiede" %}checked{% endif %}>
                <label for="type_science">Luonnontieteelliset museot</label>
                <br>
                <input type="radio" id="type_specialty" name="museum_type" value="erikois" 
                    {% if museum.museum_type == "erikois" %}checked{% endif %}>
                <label for="type_specialty">Erikoismuseot</label>
                <br>
                <input type="radio" id="type_other" name="museum_type" value="muu" 
                    {% if museum.museum_type == "muu" %}checked{% endif %}>
                <label for="type_other">Muut</label>
                <br>
            </div>
            
            <label for="museum_tags">Tagit (erota pilkulla):</label>
            <input type="text" id="museum_tags" name="museum_tags" value="{{ museum.tags }}" placeholder="Esim: kuvataide, moderni">
            <br>

            <label for="museum_img">Kuvatiedoston url:</label>
            <input type="text" id="museum_img" name="museum_img" value="{{ museum.img_url }}">
            <br>
            <div class="d-flex justify-content-end">
                <button class="btn rounded-0" id="add-museum-button" type="submit">Tallenna muutokset</button>
            </div>
        </form>


{% else %}

        <h1>Lisää museo</h1>
        <form id="museum-form" action="/lisaa_museo" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <label for="museum_name">Museon nimi:</label>
            <input type="text" id="museum_name" name="museum_name" value="{{ form.museum_name or '' }}" required>
            <br>

            <label for="museum_bio">Kuvaus:</label>
            <textarea type="text" id="museum_bio" name="museum_bio" required>{{ form.museum_bio or '' }}</textarea>
            <br>

            <label for="address">Osoite:</label>
            <input type="text" id="address" name="address" value="{{ form.address or '' }}" required>
            <br>          

            <label for="museum_hours">Aukioloajat:</label>
            <textarea type="text" id="museum_hours" name="museum_hours" required>{{ form.museum_hours or '' }}</textarea>
            <br>

            <label>Valitse museon tyyppi:</label>
            <br>
            <div class="radio-group">
                <input type="radio" id="type_art" name="museum_type" value="taide">
                <label for="type_art">Taidemuseot</label>
                <br>
                <input type="radio" id="type_history" name="museum_type" value="historia">
                <label for="type_history">Kulttuurihistorialliset museot</label>
                <br>
                <input type="radio" id="type_science" name="museum_type" value="tiede">
                <label for="type_science">Luonnontieteelliset museot</label>
                <br>
                <input type="radio" id="type_specialty" name="museum_type" value="erikois">
                <label for="type_specialty">Erikoismuseot</label>
                <br>
                <input type="radio" id="type_other" name="museum_type" value="muu">
                <label for="type_other">Muut</label>
            <br>
            </div>
            <label for="museum_tags">Tagit (erota pilkulla):</label>
            <input type="text" id="museum_tags" name="museum_tags" value="{{ form.museum_tags or '' }}" placeholder="Esim: kuvataide, moderni">
            <br>

            <label for="museum_img">Kuvatiedoston url:</label>
            <input type="text" id="museum_img" name="museum_img" value="{{ form.museum_img or '' }}">
            <br>

            <button id="add-museum-button" type="submit">Lisää museo</button>
        </form>
        {% endif %}


        {% if error %}
        <div style="background-color: darkred; color: white; width: 100%;">
            <div class="modal-body p-4 m-3 text-center">
            <h5 class="mb-0">Tapahtui virhe!</h5>
            <br>
            <p class="mb-0">{{ error }}</p>
            </div>
        </div>
        {% endif %}

    </div>
</body>




{% endblock %}