{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
<body>
    <div class="content">
        <h1>Kirjaudu sisään</h1>
        <form id="login-form" action="/kirjaudu" method="POST">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" required>
            <button id="login-button" type="submit">Kirjaudu</button>
        </form>

        <p>Etkö ole vielä tehnyt käyttäjätiliä? Tee se klikkaamalla tästä:</p>
        <a id=signup-button href="{{url_for('register')}}">Rekisteröidy</a>
    </div>
</body>
</html>
{% endblock %}
