{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
<body>
    <div class="content">
        <h2 class="my-5">Kirjaudu sisään</h2>
        <hr>
            <form id="login-form" action="/kirjaudu" method="POST" class="container p-3 my-5">
                <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Käyttäjätunnus:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Salasana:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn rounded-0" id="login-button" type="submit">Kirjaudu</button>
                </div>
            </form>
        <br>

        {% if error %}
        
        <div class="d-flex justify-content-center">
            <div style="background-color: darkred; color: white; min-width: 100%;">
                <div class="modal-body p-4 text-center">
                <h5 class="mb-0">Tapahtui virhe!</h5>
                <br>
                <p class="mb-0">{{ error }}</p>
                </div>
            </div>
        </div>

        <br>
    
        {% endif %}

        <div style="background-color: #333f1d; color: white;" class="modal-body py-3">
            <p>Etkö ole vielä tehnyt käyttäjätiliä? Tee se klikkaamalla tästä:</p>
            <div class="d-flex justify-content-end">
                <a  href="{{url_for('register')}}"><button class="btn rounded-0" id=signup-button>Rekisteröidy</button></a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
