{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}
<body>
    <div class="content">
        <h1>Rekisteröidy</h1>
        <form id="register-form" action="/rekisterointi" method="POST">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button id="login-button" type="submit">Tee tili</button>
        </form>
    </div>
</body>
</html>
{% endblock %}